<%- include('./partials/header') %>
  <title>Home Page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
    <nav>
      <a href="/" class="home-link">Tommy Bartocci</a>
      <a href="/" class="nav-link">Portfolio</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/contact" class="nav-link" id="active-nav-link">Contact</a>
    </nav>
    <h1>Contact Page</h1>
  </body>
  <script src="/javascripts/index.js"></script>
<%- include('./partials/footer') %>
