<%- include('../partials/header') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
    <nav>
      <a href="/" class="home-link">Tommy Bartocci</a>
      <a href="/" class="nav-link" id="active-nav-link">Portfolio</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/contact" class="nav-link">Contact</a>
    </nav>
    
    <div class="project-body">
      <div class="projects-div">
        <a class="project-div" href="/some-messenger">
          <div class="project">
            <div class="project-img"></div>
            <div class="project-title-div">
              <p class="project-title">Some Messenger</p>
            </div>
            <div class="project-type-div">
              <p class="project-type-title">Express JS app<br><br>MongoDB<br>Google Auth</p>
            </div>
          </div>
        </a>
        <a class="project-div" href="/this-website">
          <div class="project">
            <div class="project-img"></div>
            <div class="project-title-div">
              <p class="project-title">This website</p>
            </div>
            <div class="project-type-div">
              <p class="project-type-title">Express JS app</p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </body>
  <script src="/javascripts/index.js"></script>
<%- include('../partials/footer') %>