<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/show.css' />
  <body>
    <nav>
      <a href="/" class="home-link">Tommy Bartocci</a>
      <a href="/" class="nav-link" id="active-nav-link">Portfolio</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/contact" class="nav-link">Contact</a>
    </nav>
    <div class="content">
        <div class="info">
            <a href="/"><h1>tommybartocci.com</h1></a>
            <h2>This website is built using express JS. As a result, I used JavaScipt, HTML, and CSS to complete it.</h2>
            <h2>This website was a long time coming for me. Previously I had used Squarespace for hosting my 
                website, and using their built in features to customize it however I wanted. Now that I am growing
                as a developer, I felt it was only right to do it myself at this point. This benefits me for the
                sake of honing my skills creating a project, and because the lack of customizations on webiste 
                builders can be frustrating. 
            </h2>
            <h3>If you want something done right, do it yourself. ~ Someone Wise Probably</h3>
            <a href="https://github.com/TbartocciDev/my-website" target="_blank" class="github-link">Code on Github</a>
        </div>
    </div>
  </body>
  <script src="/javascripts/index.js"></script>
<%- include('../partials/footer') %>